<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<head>
	<title>Co-Steps</title>
	<link rel="shortcut icon" href="favicon.ico" /> 
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="scripts/nbw-parallax.js"></script>
	<script type="text/javascript" src="scripts/jquery.inview.js"></script>

	<link rel="stylesheet" type="text/css" href="styles.css">
	<script src="script.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" />
	<script type="text/javascript">
	$(document).ready(function(){
	$('#nav').localScroll();
	})
	</script>
</head>
<body>

	<nav>
		<div id="hideBox">
		<div id="logo-picture">
			
		</div>
			<p class="nButton" id="pageTop" >Home</p>
			<p class="nButton" id="worknav" >Work</p>
			<p class="nButton" id="pressnav">Press</p>
			<p class="nButton" id="recruitnav">Recruit</p>
			<p class="nButton" id="visionnav">Our vision</p>
			<p class="nButton" id="mambernav">Member</p>
			<p class="nButton" id="companynav">Company</p>
			<p class="nButton" id="contactnav">Contact</p>
		</div>
		<div id="footer">
			<h4>
			copyright© Co-Step,inc.
			</h4>
		</div>
	</nav>
	
	<div id="welcome">
		<h1>Course ＋ Step</h1>
		<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(進路を）共に&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一歩踏み出すきっかけを</h4>
	</div>

	
	<div id="work">
		<div class="textBlock"><div class="bg"></div>
			<h2>Work</h2><br/>

			<div class="contents">
			<div style="border-style: solid ; border-width: 3px; padding-bottom: 10px ; border-radius: 10px;"><P>・WEBサイト及び、WEBコンテンツの企画、制作、デザイン、運営、保守及び管理</p>
			<P>・人材採用、人材育成に関する支援、企画、運営及びコンサルティング</p>
			<P>・進路教育及びキャリア教育に関する支援並びにサービスの企画運営</p>
			</div>
			</div>

		<div id="link_to_portfolio>">
			<div style="border-style: solid ; border-width: 3px; padding-top: 10px ; border-radius: 10px;"><h2><%= link_to "Go to PORTFOLIO", works_path %> </h2>
			</div>
		</div>

		</div>
	</div>

	<div id="press">
		<div id="modal-content">
			<div class="textBlock">
				<h2>Press</h2><br/>	
				<div class="box_srcollbar">
				   <h4>2014.07.22 学生・若手社会人向け求人サイト、「Co-Step」をリリース！</h4>

				   <h4>2014.07.20 弊社代表が○○向け講演会に登壇しました</h4>
				   <div class="presspicture-one">
					<img src="http://urx2.nu/g4Gb" />
					<img src="http://urx2.nu/g4Gb" />  	
					</div>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				    <div class="presspicture-one">
					<img src="http://urx2.nu/g4Gb" />
					<img src="http://urx2.nu/g4Gb" />  	
					</div>

				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>

				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				    <div class="presspicture-one">
					<img src="http://urx2.nu/g4Gb" />
					<img src="http://urx2.nu/g4Gb" />  	
					</div>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				</div>
			</div>
		</div>
	</div>

	<div id="recruit">
		<div class="textBlock">
			<h2>Recruit</h2><br/>
			<hr />
		</div>
	</div></h4>

	<div id="vision">
		<div class="textBlock">
			<h2>Our Vision</h2><br/>
			<div style="border-style: solid ; border-width: 5px;"><h2><%= link_to "MISSION STATEMENT", missions_path %></h2></div>
		</div>
	</div>

	<div id="member">
		<div class="textBlock">
			<h2>Member</h2><br/>



			<div style="float:left"><img src="http://urx2.nu/g4Gb"><br>Ryo Hayashi<br>代表取締役 CEO</div>
			<div style="float:left"><img src="http://urx2.nu/g4Gb"><br>Ryo Hayashi<br>代表取締役 CEO</div>
			<div style="float:left"><img src="http://urx2.nu/g4Gb"><br>Ryo Hayashi<br>代表取締役 CEO</div>
			<div style="float:left"><img src="http://urx2.nu/g4Gb"><br>Ryo Hayashi<br>代表取締役 CEO</div>
			<div style="clear:both"></div>

			<div style="float:left"><img src="http://urx2.nu/g4Gb"><br>Ryo Hayashi<br>代表取締役 CEO</div>
			<div style="float:left"><img src="http://urx2.nu/g4Gb"><br>Ryo Hayashi<br>代表取締役 CEO</div>
			<div style="float:left"><img src="http://urx2.nu/g4Gb"><br>Ryo Hayashi<br>代表取締役 CEO</div>
			<div style="float:left"><img src="http://urx2.nu/g4Gb"><br>Ryo Hayashi<br>代表取締役 CEO</div>
			<div style="clear:both"></div>

		

		</div>
	</div>

	<div id="company">
		<div class="textBlock">
			<h2>Company</h2><br/>
			<hr />

		<p>・ＷEBサイト及びＷEBコンテンツの企画、制作、デザイン、運営、保守及び管理</p>
		<p>・人材採用、人材育成に関する支援、企画、運営及びコンサルティング</p>
		<p>・進路教育及びキャリア教育に関する支援並びにサービスの企画、運営</p>
			<hr />
			<div id="place"><p>〒150-0044 東京都渋谷区円山町14-11-103</br>
（ＪＲ山手線/渋谷駅 徒歩10分 京王井の頭線/神泉駅 徒歩3分）</p></div>
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3241.756083351012!2d139.6942055!3d35.65838075!3	m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188caa5d0e3b75%3A0xd163a0d2f282ade!2z44CSMTUwLTAwNDYg5p2x5Lqs6YO95riL6LC35Yy65YaG5bGx55S677yR77yU4oiS77yR77yRIOODi-ODpeODvOODqeOCpOOCquODs-OCuua4i-iwtw!5e0!3m2!1sja!2sjp!4v1420884355862" width="300" height="200" frameborder="0" style="border:0; padding-bottom:90px; padding-left:550px; padding-top:10px;" ></iframe>
		</div>
		
	</div>

	<div id="contact">
		<div class="textBlock">
			<h2>Contact</h2><br/>
			<div style="border-style: solid ; border-width: 3px; padding-bottom: 10px ; border-radius: 10px;">
			<p>ご相談・ご依頼、ご不明な点などがありましたら以下よりお気軽にお問合せくださ
			い。お問い合わせいただいた後、2営業日以内でお返事致しますが、2営業日過ぎて
			も弊社より連絡がない場合は、お手数おかけしますが、再度お問い合わせいただき
			ますようお願い致します。</p>
		</div>


  <%= form_for @inquiry, :url => inquiry_confirm_path do |f| %>
    <div class="page-header">
     
    </div>
   
    <% if @inquiry.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <strong>入力内容にエラーがあります</strong>
        <ul>
          <% @inquiry.errors.each do |attr, msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
   
    <table class="table">
      <tr>
        <th>名前<span class="text-danger">（必須）</span></th>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <th>メールアドレス<span class="text-danger">（必須）</span></th>
        <td><%= f.text_field :email %></td>
      </tr>
      <tr>
        <th>お問い合わせ内容</th>
        <td><%= f.text_area :message %></td>
      </tr>
    </table>
    <%= f.submit '確認', class: 'btn btn-primary' %>
  <% end %>
</div>


	<!-- <script src="blur.js"></script> -->
	
</body>

</html>