<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


<head>
<script src="js/jquery.js"></script>
	<title>Co-Steps</title>
	<link rel="shortcut icon" href="favicon.ico" /> 
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="scripts/nbw-parallax.js"></script>
	<script type="text/javascript" src="scripts/jquery.inview.js"></script>

	<link rel="stylesheet" type="text/css" href="styles.css">
	<script src="script.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900' rel='stylesheet' type='text/css'>
<!-- 	<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" /> -->
	<script type="text/javascript">
	$(document).ready(function(){
	$('#nav').localScroll();
	})
	</script>
</head>
<body>

	<nav>
		<div id="hideBox">
		<div id="logo-picture">
			
		</div>
			<p class="nButton" id="pageTop" >Home</p>
			<p class="nButton" id="worknav" >Work</p>
			<p class="nButton" id="pressnav">Press</p>
			<p class="nButton" id="recruitnav">Recruit</p>
			<p class="nButton" id="visionnav">Our vision</p>
			<p class="nButton" id="mambernav">Member</p>
			<p class="nButton" id="companynav">Company</p>
			<p class="nButton" id="contactnav">Contact</p>
		</div>
		<div id="footer">
			<h4>
			copyright© Co-Step,inc.
			</h4>
		</div>
	</nav>
	
	<div id="welcome">
		<h1>Course ＋ Step</h1>
		<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(進路を）共に&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一歩踏み出すきっかけを</h4>
	</div>

	
	<div id="work">
		<div class="textBlock"><div class="bg"></div>
			<h2>Work</h2><br/>

			<div class="contents">
			<div style="border-style: solid ; border-width: 3px; padding-bottom: 10px ; border-radius: 10px;"><P>・WEBサイト及び、WEBコンテンツの企画、制作、デザイン、運営、保守及び管理</p>
			<P>・人材採用、人材育成に関する支援、企画、運営及びコンサルティング</p>
			<P>・進路教育及びキャリア教育に関する支援並びにサービスの企画運営</p>
			</div>
			</div>

		<div id="link_to_portfolio>">
			<div style="border-style: solid ; border-width: 3px; padding-top: 10px ; border-radius: 10px;"><h2><%= link_to "Go to PORTFOLIO", works_path %> </h2>
			</div>
		</div>

		</div>
	</div>

	<div id="press">
		<div id="modal-content">
			<div class="textBlock">
				<h2>Press</h2><br/>	
				<div class="box_srcollbar">
				   <h4>2014.07.22 学生・若手社会人向け求人サイト、「Co-Step」をリリース！</h4>

				   <h4>2014.07.20 弊社代表が○○向け講演会に登壇しました</h4>
				   <div class="presspicture-one">
					<img src="http://urx2.nu/g4Gb" />
					<img src="http://urx2.nu/g4Gb" />  	
					</div>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				    <div class="presspicture-one">
					<img src="http://urx2.nu/g4Gb" />
					<img src="http://urx2.nu/g4Gb" />  	
					</div>

				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>

				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				    <div class="presspicture-one">
					<img src="http://urx2.nu/g4Gb" />
					<img src="http://urx2.nu/g4Gb" />  	
					</div>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				   <h4>2014.07.18 弊社サービス「Co-Step」が○○ビジネスにて紹介されました。</h4>
				</div>
			</div>
		</div>
	</div>

	<div id="recruit">
		<div class="textBlock">
			<h2>Recruit</h2><br/>
			<p>当社では、積極的に採用を行っております。ご興味のある方はお気軽にお問い合わせください。</p>		

			<p>募集要項</p>	
			<hr />
			<p>・インターンシップ/エンジニア/デザイナー</p>

			<p>求める人材像</p>
			 <hr />
			 <p>「『経験がない』を言い訳にせず、ビジネスの最前線で事業立ち上げのキーマンとなれる人」インターンシップは採用のための「職場体験」ではなく、ビジネスの現場で自分の実力や技術力を
			本気で試してみたい方向けのアントレプレナー育成プログラムです。学年不問。休学してのチャレンジや他社内定後の腕試しとしても参加可能です。また、高校生、既卒、社会人の方の挑戦も受け
			付けています。</p>

			<p>応募要項</p>
			 <hr />
			 <p>インターンシップ<p>
			<p>エンジニア</p>
			<p>デザイナー</p>
						
			<%= form_for @inquiry, :url => inquiry_confirm2_path do |f| %>
			    <div class="page-header">
			     
			    </div>
			   
			    <% if @inquiry.errors.any? %>
			      <div class="alert alert-danger" role="alert">
			        <strong>入力内容にエラーがあります</strong>
			        <ul>
			          <% @inquiry.errors.each do |attr, msg| %>
			            <li><%= msg %></li>
			          <% end %>
			        </ul>
			      </div>
			    <% end %>
			   
			    <table class="table">
			      <tr>
			        <th>名前<span class="text-danger">*必須</span></th>
			        <td><%= f.text_field :name %></td>
			      </tr>
			      <tr>
			        <th>メールアドレス<span class="text-danger">*必須</span></th>
			        <td><%= f.text_field :email %></td>
			      </tr>
			        <tr>
					<th>メールアドレス(確認用)<span class="text-danger">*必須</span></th>
					<td><%= f.text_field :email %></td>
					</tr>
			      <tr>
			        <th>お問い合わせ内容 *必須</th>
			        <td><%= f.text_area :message %></td>
			      </tr>
			    </table>
			    <%= f.submit '確認', class: 'btn btn-primary' %>
			  <% end %>

		</div>
	</div></h4>

	<div id="vision">
		<div class="textBlock">
			<h2>Our Vision</h2><br/>
			<h1>Course ＋ Step</h1>
		<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(進路を）共に&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一歩踏み出すきっかけを</h4>
			
	<div class="main">
        <div class="content">
        	<p>社名の由来</p>
            <hr />
			<p>私たちはキャリア・進路選択において、何が正解かわかりづらくなったこの時代に、学生・社会人に向けて将来のことを考えるきっかけを提供し、「一歩踏み出す」ことを私たちのサービスと共に歩んでもらいたいという願いでいます。</p>
			<p>設立に至った経緯</p>
			<hr />
			<p>ライブドアショック、世界同時多発テロ、リーマンショック、東日本大震災。当たり前で絶対と言われていたことが次々と崩壊していくなかで学生時代を過ごし、進路選択をしてきました。学校やメディアが言う正解と実際に社会で起きていることの違いに違和感をずっと抱いていました。そんなめまぐるしい時代の中で大切なのは「自分で考えて選択と行動をする」こと。ただ、自分1人で考え、行動することは難しい。そこで私たちは「考えるきっかけ」と「行動するきっかけ」をITを用いて提供することで、「一歩踏み出すきっかけ」を得てもらい、そこで選択した自分の進路を信じて歩んでほしいという想いでCo-Stepをスタートさせました。</p>
			<hr />

        </div>

			</div>
		<div style="padding-top: 10px;">
        <div class="more">Click and see Mission Statement</div>

      <div class="content">
      		<p>会社の目指す姿</p>
      		<hr />
            <p>「暗闇に光を。たとえ小さな光でも、それが絶対だと信じられれば踏み出せる。」私たちは先の進路が見えず不安になっている人たちに向けて小さな光を発信していきます。ただし、そこから一歩を踏み出し、歩むのはあなた自身。私たちはそんなきっかけとなる存在であり続けます。</p>
            <p>サービスの目指す姿</p>
            <hr />
            <p>「Planned Happenstance（計画された偶発性）」スタンフォード大学のジョン・D・クランボルツ教授によって提唱されたキャリア論に関する考え方です。「個人のキャリアの8割は予想しない偶発的なことによって決定される」とし、その偶然を計画的に設計して自分のキャリアを良いものにしていこうというものです。私たちはそんな偶然を私たちのサービスを通して見つけ、選択し、行動してもらえることを願っています。</p>
             <p>真摯に公明正大に</p>
             <hr />
            <p>お客様が本質的に求めていること、課題を解決することに真摯に向き合います。そのためには、企
			業同士、社内の人間同士において、たとえ立場が違う関係性にあっても、公明正大に向き合い、す
			べてのお客様に最善の価値提供ができる判断をしていきます。</p>
			<p>当たり前のことをやり続ける</p>
             <hr />
            <p>ビジネスの前にまずいち人間として、思いやりのある行動を心がけます。そして、ビジネスにおい
			ても、当たり前のことを当たり前にやり続けることで生まれる価値を最大の資産とし、それを実行
			し続けます。</p>
			<p>結果のための種を蒔く</p>
             <hr />
            <p>いくら良い品種の花や栽培環境が整っていても、種を蒔かなければ花は咲きません。私たちはまず
			「行動」という種蒔きを行うことでチャンスの芽を収穫することを心がけます。口先ばかりの机上
			の理論ではなく、行動で示し、結果をしっかり出させる人材育成に努めます。</p>
		</div>
	</div>

		
		</div>
	</div>

	<div id="member">
		<div class="textBlock">
			<h2>Member</h2><br/>


			<a data-target="con1" class="modal-open"><div style="float:left"><img src="http://urx2.nu/g4Gb"><br>Ryo Hayashi<br>代表取締役 CEO</div></a>

			<a data-target="con2" class="modal-open"><div style="float:left"><img src="http://urx2.nu/g4Gb"><br>Ryo Hayashi<br>代表取締役 CEO</div></a>

			<a data-target="con3" class="modal-open"><div style="float:left"><img src="http://urx2.nu/g4Gb"><br>Ryo Hayashi<br>代表取締役 CEO</div></a>

			<a data-target="con4" class="modal-open"><div style="float:left"><img src="http://urx2.nu/g4Gb"><br>Ryo Hayashi<br>代表取締役 CEO</div></a>

			<div style="clear:both"></div>

			<a data-target="con5" class="modal-open"><div style="float:left"><img src="http://urx2.nu/g4Gb"><br>Ryo Hayashi<br>代表取締役 CEO</div></a>

			<a data-target="con6" class="modal-open"><div style="float:left"><img src="http://urx2.nu/g4Gb"><br>Ryo Hayashi<br>代表取締役 CEO</div></a>

			<a data-target="con7" class="modal-open"><div style="float:left"><img src="http://urx2.nu/g4Gb"><br>Ryo Hayashi<br>代表取締役 CEO</div></a>
			<a data-target="con8" class="modal-open"><div style="float:left"><img src="http://urx2.nu/g4Gb"><br>Ryo Hayashi<br>代表取締役 CEO</div></a>
			<div style="clear:both"></div>

			<div id="con1" class="modal-content">
    		<p><img src="http://urx2.nu/g4Gb"><h4>Hayashi Ryo</h4><hr />1988年生まれ。青山学院大学在学中に「30名⇒200名⇒2000名」規模のベンチャー企業にてフルタイム勤務。レバレジーズにて採用コンサルティング、ガイアックスにて内定者辞退防止のためのSNSを用いた運用コンサルティング、オプトにて内部統制を扱う法務等の業務経験を持ち、多くの新規事業の立ち上げに携わる。2011年より新卒でベネッセコーポレーションへ入社。高校現場を回る営業として、進路指導・新規商品開発・大学入試分析を担当。教員・生徒向けの研修・講演会は年間200本以上を実施。2013年からはROBOTにてWEB/映像のPMとして従事。2014年7月に株式会社Co-Stepを創業。</p>
   			<p><a class="modal-close">閉じる</a></p>
			</div>
			<div id="con2" class="modal-content">
    		<p>インターン生その1</p>
   			<p><a class="modal-close">閉じる</a></p>
			</div>
			<div id="con3" class="modal-content">
    		<p>インターン生その2</p>
   			<p><a class="modal-close">閉じる</a></p>
			</div>
			<div id="con4" class="modal-content">
    		<p>インターン生その3</p>
   			<p><a class="modal-close">閉じる</a></p>
			</div>
			<div id="con5" class="modal-content">
    		<p>インターン生その4</p>
   			<p><a class="modal-close">閉じる</a></p>
			</div>
			<div id="con6" class="modal-content">
    		<p>インターン生その5</p>
   			<p><a class="modal-close">閉じる</a></p>
			</div>
			<div id="con7" class="modal-content">
    		<p>インターン生その6</p>
   			<p><a class="modal-close">閉じる</a></p>
			</div>
			<div id="con8" class="modal-content">
    		<p>インターン生その7</p>
   			<p><a class="modal-close">閉じる</a></p>
			</div>

		

		</div>
	</div>

	<div id="company">
		<div class="textBlock">
			
			<p>社名</p>	
				<hr />
			<p>Co-Step inc,（株式会社コーステップ）</p>
				<hr />
			<p>代表者</p>
			<hr />
			<p>代表取締役 CEO 林 諒</p>
			<p>所在地</p>
			<hr />
			<p>〒150-0044 東京都渋谷区円山町14-11-103
			（ＪＲ山手線/渋谷駅 徒歩10分 京王井の頭線/神泉駅 徒歩3分)
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3241.756083351012!2d139.6942055!3d35.65838075!3	m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188caa5d0e3b75%3A0xd163a0d2f282ade!2z44CSMTUwLTAwNDYg5p2x5Lqs6YO95riL6LC35Yy65YaG5bGx55S677yR77yU4oiS77yR77yRIOODi-ODpeODvOODqeOCpOOCquODs-OCuua4i-iwtw!5e0!3m2!1sja!2sjp!4v1420884355862" width="300" height="200" frameborder="0" style="border:0; padding-bottom:90px; padding-left:550px; padding-top:10px;" ></iframe></p>

			事業内容
			<hr />
		<p>・ＷEBサイト及びＷEBコンテンツの企画、制作、デザイン、運営、保守及び管理</p>
		<p>・人材採用、人材育成に関する支援、企画、運営及びコンサルティング</p>
		<p>・進路教育及びキャリア教育に関する支援並びにサービスの企画、運営</p>
			
			
			
		</div>
		
	</div>

	<div id="contact">
		<div class="textBlock">
			<h2>Contact</h2><br/>
			<div style="border-style: solid ; border-width: 3px; padding-bottom: 10px ; border-radius: 10px;">
			<p>ご相談・ご依頼、ご不明な点などがありましたら以下よりお気軽にお問合せくださ
			い。お問い合わせいただいた後、2営業日以内でお返事致しますが、2営業日過ぎて
			も弊社より連絡がない場合は、お手数おかけしますが、再度お問い合わせいただき
			ますようお願い致します。</p>
		</div>


  <%= form_for @inquiry, :url => inquiry_confirm_path do |f| %>
    <div class="page-header">
     
    </div>
   
    <% if @inquiry.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <strong>入力内容にエラーがあります</strong>
        <ul>
          <% @inquiry.errors.each do |attr, msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
   
    <table class="table">
      <tr>
        <th>名前<span class="text-danger">*必須</span></th>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <th>メールアドレス<span class="text-danger">*必須</span></th>
        <td><%= f.text_field :email %></td>
      </tr>
        <tr>
		<th>メールアドレス(確認用)<span class="text-danger">*必須</span></th>
		<td><%= f.text_field :email %></td>
		</tr>
      <tr>
        <th>お問い合わせ内容 *必須</th>
        <td><%= f.text_area :message %></td>
      </tr>
    </table>
    <%= f.submit '確認', class: 'btn btn-primary' %>
  <% end %>

</div>



</body>
</html>